@import '../../styles/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid $primary-gray6;
  color: #344054;
}
