@import '@/src/styles/colors';

.list_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  li {
    margin-right: 26px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $primary-black;

    &:hover {
      color: $primary-blue;
    }

    &.active {
      color: $primary-blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
