@import '@/src/styles/colors';

.list_wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100%;

	li {
		display: flex;
		align-items: center;
		margin-right: 26px;
		font-weight: 500;
		font-size: 14px;
		color: $muted-foreground;
		height: 100%;
		position: relative;

		&:hover {
			color: #0f172a;
		}

		&.active {
			color: #0f172a;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
