$primary-white: #ffffff;
$primary-black: #101828;
$primary-black2: #1d2939;
$primary-blue: #405bff;
$primary-gray1: #fcfcfc;
$primary-gray2: #eaecf0;
$primary-gray3: #667085;
$primary-gray4: #e3e3e3;
$primary-gray5: #475467;
$primary-gray6: #d0d5df;
$primary-gray7: #f9f9f9;
$primary-gray8: #efefef;

$primary-gray9: #fcfcfc80;
$primary-gray10: #f5f5f5;
$primary-gray11: #f6f8fa;
