@import '../../nextra-theme-docs/css/styles.css';

html,
body {
	font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	border: 0 solid #e5e7eb;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a,
button {
	transition: 0.2s;
}

img {
	max-width: 100%;
	display: block;
	overflow: hidden;
}

input,
button,
textarea,
select {
	font: inherit;
}

textarea {
	resize: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}

.container::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.loader_wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5% 64.9%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	/* * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  } */
}

@layer utilities {
	.nav-bg {
		box-shadow: 0 0 0 1px rgba(17, 24, 28, 0.08), 0 1px 2px -1px rgba(17, 24, 28, 0.08),
			0 2px 4px rgba(17, 24, 28, 0.04);
	}
}

@layer utilities {
	.gridLine {
		--background: #ffffff;
		--color: #a3a3a3;
		--height: 1px;
		--width: 5px;
		--fade-stop: 90%;
		--offset: -100px;

		background: linear-gradient(
			to right,
			var(--color),
			var(--color) 50%,
			transparent 0,
			transparent
		);
		background-size: var(--width) var(--height);
		mask-composite: exclude;
		-webkit-mask: linear-gradient(to left, var(--background) var(--fade-stop), transparent),
			linear-gradient(to right, var(--background) var(--fade-stop), transparent),
			linear-gradient(black, black);
	}
}

@layer utilities {
	.light-bg-mid {
		background: #3291ff;
		box-shadow: 0px 0px 2px 1px rgba(50, 145, 255, 0.25);
	}

	.light-bg-high {
		background: #ffffff;
		box-shadow: 0px 0px 1px 1px rgba(50, 145, 255, 0.8), 0px 0px 2px 1px rgba(50, 145, 255, 0.25);
	}
}
