@import '../../../../styles/colors';
@import '../../../../styles/breakpoints';

.navbar {
  padding-top: 19px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .list_wrapper {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24px;
    padding-bottom: 19px;
    background: $primary-gray1;
    border-bottom: 1px solid $primary-gray4;

    .menu_item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 24px;
      list-style: none;
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: $primary-black;

      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        line-height: 17px;
        margin-right: 18px;
      }

      span {
        cursor: pointer;
      }

      &:hover {
        color: $primary-blue;
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }

      &.active {
        color: $primary-blue;
      }
    }
  }

  .login_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 31px;
    border-top: 1px solid $primary-gray4;
  }
}
