@import '/src/styles/colors';
@import '/src/styles/breakpoints';


.result_text {
  display: block;
  overflow: hidden;
  margin-top: 12px;
  padding: 10px 12px;
  background: $primary-gray1;
  border: 1px solid $primary-gray10;
  border-radius: 4px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;

  [class='item_wrapper'] {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  h1,
  h2,
  h3 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  mark {
    display: inline;
    color: $primary-blue;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}
