@import '../../styles/colors';
@import '../../styles/breakpoints';

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  input {
    width: 100%;
    height: 100%;
    padding: 8px 12px 8px 12px;
    // padding-right: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primary-black;
    background: $primary-white;
    border: 1px solid $primary-gray6;
    border-radius: 4px;
    outline: none;

    @media screen and (max-width: $media-md) {
      // max-width: 381px;
      width: 100%;
    }

    @media screen and (max-width: $media-sm) {
      // width: 265px;
      width: 100%;
      min-width: 200px;
    }

    &:focus-visible {
      border-color: $primary-black;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $primary-gray3;
    }
  }

  .search_results {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 10;
    background: $primary-white;
    border: 1px solid $primary-gray6;
    box-shadow: 1px 11px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @media screen and (max-width: $media-sm) {
      position: fixed;
      top: 60px;
      left: 16px;
      right: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: $primary-white;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .results_wrapper {
      width: 584px;
      max-width: 95vw;
      max-height: 371px;
      padding: 20px;
      overflow-y: auto;
      position: relative;

      ul {
        li:last-child {
          & > div {
            margin-bottom: 0;
          }
        }
      }

      @media screen and (max-width: $media-md) {
        width: 584px;
      }

      @media screen and (max-width: $media-sm) {
        width: 344px;
        padding: 16px 12px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  form {
    position: relative;

    button[type='submit'] {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      // display: none;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    button[type='reset'] {
      display: none;
    }
  }

  .empty_result {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primary-gray3;

    span {
      font-weight: 600;
    }
  }
}
