@import '@/src/styles/colors';
@import '@/src/styles/breakpoints';

.header_wrapper {
	border-bottom: 1px solid $border;
	background-color: #fff;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	.header_logo_wrapper {
		// display: flex;
		align-items: center;
		justify-content: center;
		height: 65px;
		@media screen and (max-width: $media-md) {
			padding-left: 24px;
			padding-right: 24px;
		}

		@media screen and (max-width: $media-sm) {
			padding-left: 16px;
			padding-right: 16px;
		}

		@media screen and (max-width: $media-md) {
			border-bottom: none;
		}

		@media screen and (max-width: $media-sm) {
			width: 100%;
		}
	}

	.header_nav_wrapper {
		align-items: center;
		justify-content: center;
		// height: 52px;
		background: $muted;
		border-top: 1px solid $border;

		@media screen and (max-width: $media-md) {
			padding-left: 24px;
			padding-right: 24px;
		}

		@media screen and (max-width: $media-sm) {
			padding-left: 16px;
			padding-right: 16px;
		}

		header {
			height: 100%;
		}
	}

	header {
		max-width: 1248px;
		padding: 0 24px;
		flex-grow: 1;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: $media-md) {
			width: 100%;
			padding: 0;
		}

		& > button,
		.login_button {
			@media screen and (max-width: $media-md) {
				display: none;
			}
		}

		.logo {
			display: flex;
			align-items: center;

			.logo_icon {
				height: 24px;

				@media screen and (max-width: $media-sm) {
					min-width: 22px;
					height: 24px;
				}
			}

			.logo_name {
				height: 20px;

				@media screen and (max-width: 680) {
					display: none;
				}
			}
		}

		.header_right {
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
			gap: 12px;
		}
	}
}
