.menu_checkbox {
  display: none;
}

.label {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.label div {
  position: relative;
  top: 0;
  height: 2px;
  background-color: gray;
  margin-bottom: 4px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

.label div:first-child {
  transform-origin: 0;
}

.label div:last-child {
  margin-bottom: 0;
  transform-origin: 20px;
}

.label div:nth-child(2) {
  right: 0;
  width: 14px;
}

.menu_checkbox:checked + .label div:first-child {
  top: -1px;
  transform: rotateZ(45deg);
  width: 20px;
}

.menu_checkbox:checked + .label div:last-child {
  display: none;
  // top: 6px;
  //   transform: rotateZ(45deg);
}

.menu_checkbox:checked + .label div:nth-child(2) {
  width: 20px;
  top: 0;
  right: 3px;
  transform: rotateZ(-45deg);
}
