
.inputBox{
  position: relative;
  width: 100%;
  .icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url("../../../../../../assets/icons/search-icon.svg") no-repeat center;
    background-size: 100% 100%;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url('../../../../../../assets/icons/input-cancel.svg') no-repeat center;
  background-size: 10px 10px;
  cursor: pointer;
}